<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Accesorios</title>
</head>
<body>
    <header>
        <div>
            <section>
                <div class="container-menu">
                    <div class name="logotipo" id="logo">
                        <a href="../index.html" width="150" height="150">
                            <img src="../image/logo/MicrosoftTeams-image.png" width="150" height="150" alt>
                        </a>
                    </div>
                    <div>
                        <nav class="navbar">
                            <ul>

                                <li>
                                    <a href="/index.html">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span class="aux-menu-label">Inicio</span>
                                    </a>
                                </li>

                                <li><a href="/views/productos.html">Producto</a></li>
                                <li class="dropdown">
                                    <a class="dropbtn">
                                        <span>Categoria</span>
                                    </a>
                                    <div class="dropdown-content">
                                        <div>
                                            <a href="/views/accesorios-externos.html">Accesorios
                                                externos</a>
                                            </div>
                                        <div>
                                            <a href="/views/portatiles.html">Portatiles</a>
                                        </div>
                                        <div>
                                            <a href="/views/computadores-escritorio.html">Computadores</a>
                                        </div>
                                        <div>
                                            <a href="/views/arma-setup.html">Arma
                                                tu Setup</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="/views/sobre-nosotros.html">Sobre
                                        nosotros</a></li>
                                <li><a href="/views/servicios.html">Servicios</a></li>
                                <li><a href="/views/contactonos.html">Contactenos</a></li>
                                <li>
                                    <a href="/views/login.html">Login</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        </div>
    </header>
                    <!---
                    <form class="" method="get">
                        <select name="orderby" class="orderby">
                            <option value="date"></option>
                        </select>
                    </form>-->

                    <ul class="card-container">
                        <li class="card">
                            <img src="../image/accesorios/mouse1.png" alt="mouse1" width="300" height="300">
                            <h3>MOUSE GAMER REDRAGON GRIFFIN M607 RGB</h3>
                            
                            <p>$ 110.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                            
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/mouse2.png" alt="mouse2" width="300" height="300">
                            <h3>MOUSE TRUST VERTO VERTICAL ERGONOMIC USB</h3>
                            
                            <p>$ 77.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/diadema1.png" alt="Diadema1" width="300" height="300">
                            <h3>DIADEMA LOGITECH G733 LILA LIGHTSPEED INALÁMBRICA RGB</h3 >
                            
                            <p>$ 609.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/diadema2.png" alt="Diadema2" width="300" height="300">
                            <h3>DIADEMA GAMER LOGITECH G332</h3>
                            <p>$ 239.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/parlante1.png" alt="parlante1" width="300" height="300">
                            <h3>PARLANTES LOGITECH G560 RGB 120W BLUETOOTH RGB GAMING</h3>
                            <p>$ 889.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/parlante2.png" alt="parlante2" width="300" height="300">
                            <h3>PARLANTES LOGITECH S120 (2,1) 2.2W</h3>
                            <p>$ 73.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/teclado1.png" alt="teclado1" width="300" height="300">
                            <h3>TECLADO GAMER TRUST GXT 865 RGB MECANICO</h3>
                            <p>$ 249.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/teclado2.png" alt="teclado2" width="300" height="300">
                            <h3>TECLADO GAMER REDRAGON HARPE PRO RGB K503A-RGB</h3>
                            <p>$ 105.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/regulador1.png" alt="regulador1" width="300" height="300">
                            <h3>REGULADOR CDP 600VA  300W 4 TOMAS 4 USB SUPRESOR</h3>
                            <p>$ 95.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/ups1.png" alt="ups1" width="300" height="300">
                            <h3>UPS 2200 VA STARTEC  1100W  STU-2200</h3>
                            <p>$ 589.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                    </ul>
                </div>
            </div>
            <aside>
                <div class="sidebar-inner">
                    <div class="sidebar-content">
                        <section>
                            <h3>Categoria</h3>
                            <div>
                                <ul>
                                    <li>
                                        <a class="button" href="accesorios-externos.html">Accesorios externos</a>
                                    </li>
                                    <li>
                                        <a class="button" href="portatiles.html">Portatiles</a>
                                    </li>
                                    <li>
                                        <a class="button" href="computadores-escritorio.html">Computadores</a>
                                    </li>
                                    <li>
                                        <a class="button" href="arma-setup.html">Arma tu Setup</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </aside>
    </main>
    <footer>
        <div class="pie">
            <span>
                <h3><u>Sigenos en:</u></h3>
            </span>
            <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
                <br>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
                <br>
                <a href="https://twitter.com/X" target="_blank"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
    
        </div>
        <div>
            <span>
                <h3><u>Estamos ubicados:</u></h3>
            </span>
            <p>
                <b>Direccion Bogota</b> calle 57 #80-10
            </p>
            <p>
                <b>Direccion Medellin</b> Calle 53 # 46-47 L-110
            </p>
            <p>
                <b>Direccion Cali</b> Calle 11s # 50-29
            </p>
        </div>
    </footer>
</body>
</html>