<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <title>Login</title>
</head>
<body>
    <header>
        <div>
            <section>
                <div class="container-menu">
                    <div class name="logotipo" id="logo">
                        <a href="../index.html" width="150" height="150">
                            <img src="../image/logo/MicrosoftTeams-image.png" width="150" height="150" alt>
                        </a>
                    </div>
                    <div>
                        <nav class="navbar">
                            <ul>
                                <li>
                                    <a href="index.html">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span class="aux-menu-label">Inicio</span>
                                    </a>
                                </li>
 
                                <li>
                                    <a href="/views/productos.html">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                        <span class="aux-menu-label">Productos</span>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropbtn">
                                        <span>Categoria</span>
                                    </a>
                                    <div class="dropdown-content">
                                        <div>
                                            <a href="/views/accesorios-externos.html">Accesorios
                                                externos</a>
                                            </div>
                                        <div>
                                            <a href="/views/portatiles.html">Portatiles</a>
                                        </div>
                                        <div>
                                            <a href="/views/computadores-escritorio.html">Computadores</a>
                                        </div>
                                        <div>
                                            <a href="/views/arma-setup.html">Arma
                                                tu Setup</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/views/sobre-nosotros.html">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <span class="aux-menu-label">Sobre nosotors</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/views/servicios.html">
                                        <i class="fa fa-cogs" aria-hidden="true"></i>
                                        <span class="aux-menu-label">Servicios</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/views/contactonos.html">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="aux-menu-label">Contactenos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/views/login.html">Login</a>
                                </li>
                                <li class="tab tab-primera">
                                    <a href="#registrarse">Registrarse</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        </div>
    </header>
        <!-- Contenido de los Formularios -->
        <div class="contenido-tab">
            <!-- Iniciar Sesion -->
            <div class="wrapper">
                <div class="container">
                    <h1>Welcome</h1>
                    <form class="form">
                        <input type="text" placeholder="Username">
                        <input type="password" placeholder="Password">
                        <button type="submit" id="login-button">Login</button>
                    </form>
                </div>
                
                <ul class="bg-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

            <!-- Registrarse 
            <div id="registrarse">
                <h1>Registrarse</h1>
                <form action="#" method="post">
                    <div class="fila-arriba">
                        <div class="contenedor-input">
                            <label>
                                Nombre <span class="req">*</span>
                            </label>
                            <input type="text" required >
                        </div>

                        <div class="contenedor-input">
                            <label>
                                Apellido <span class="req">*</span>
                            </label>
                            <input type="text" required>
                        </div>
                    </div>
                    <div class="contenedor-input">
                        <label>
                            Usuario <span class="req">*</span>
                        </label>
                        <input type="text" required>
                    </div>
                    <div class="contenedor-input">
                            <label>
                                Email <span class="req">*</span>
                            </label>
                        <input type="email" required>
                    </div>
                    <div class="contenedor-input">
                        <label>
                            Contraseña <span class="req">*</span>
                        </label>
                        <input type="password" required>
                    </div>

                    <div class="contenedor-input">
                        <label>
                            Repetir Contraseña <span class="req">*</span>
                        </label>
                        <input type="password" required>
                    </div>

                    <input type="submit" class="button button-block" value="Registrarse">
                </form>
            </div>-->
        </div>
    </div>
</body>
</html>