<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Portatiles</title>
</head>
<header>
    <div>
        <section>
            <div class="container-menu">
                <div class name="logotipo" id="logo">
                    <a href="../index.html" width="150" height="150">
                        <img src="../image/logo/MicrosoftTeams-image.png" width="150" height="150" alt>
                    </a>
                </div>
                <div>
                    <nav class="navbar">
                        <ul>
                            <li>
                                <a href="../index.html">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span class="aux-menu-label">Inicio</span>
                                </a>
                            </li>

                            <li>
                                <a href="/views/productos.html">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    <span class="aux-menu-label">Productos</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropbtn">
                                    <span>Categoria</span>
                                </a>
                                <div class="dropdown-content">
                                    <div>
                                        <a href="/views/accesorios-externos.html">Accesorios
                                            externos</a>
                                        </div>
                                    <div>
                                        <a href="/views/portatiles.html">Portatiles</a>
                                    </div>
                                    <div>
                                        <a href="/views/computadores-escritorio.html">Computadores</a>
                                    </div>
                                    <div>
                                        <a href="/views/arma-setup.html">Arma
                                            tu Setup</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/views/sobre-nosotros.html">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span class="aux-menu-label">Sobre nosotors</span>
                                </a>
                            </li>
                            <li>
                                <a href="/views/servicios.html">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                    <span class="aux-menu-label">Servicios</span>
                                </a>
                            </li>
                            <li>
                                <a href="/views/contactonos.html">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span class="aux-menu-label">Contactenos</span>
                                </a>
                            </li>
                            <li>
                                <a href="/views/login.html">Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </div>
</header>
<main>
    <div >
        <div align="center">
            <Section>
                <h1>Portatiles</h1>
            </Section>
        </div>
    </div>
    <div class="container">
        <div id="primary" class="aux-prima">
            <div class="content">
                <header>
                    <h1>Articulos</h1>
                </header>
                <!---
                <form class="" method="get">
                    <select name="orderby" class="orderby">
                        <option value="date"></option>
                    </select>
                </form>-->

                <ul class="card-container">
                    <li class="card">
                        <img src="../image/portatiles/portatil1.png" alt="Portatil1" width="300" height="300">
                        <h3>PORTATIL ASUS ROG G513</h3>
                        <h3>HF070 RYZEN 7 4800H 16G</h3>
                        <h3>(2×8) 3200MHz NVMe 512G 4G RTX3050</h3>
                        <h3>15,6″ IPS 300Hz TC RGB W10</h3>
                        <p>$ 6.099.000</p>
                        <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                    </li>
                    <li class="card">
                        <img src="../image/portatiles/portatil2.png" alt="Portatil2" width="300" height="300">
                        <h3>PORTATIL ASUS TUF   </h3>
                        <h3>A506-HN008 RYZEN 7 5800H 16G(2×8)</h3>
                        <h3>3200MHz NVMe 512G 6 GRTX 3060</h3>
                        <h3>15,6″ IPS 144Hz TC RGB END</h3>
                        <p>$ 6.459.000</p>
                        <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                    </li>
                    <li class="card">
                        <img src="../image/portatiles/portatil3.png" alt="portatil3" width="300" height="300">
                        <h3>PORTATIL MSI KATANA GF76-12UE      </h3>
                        <h3>CORE i7 12700H – 16G(2×8)</h3>
                        <h3>– NVMe 512G – 6G RTX 3060</h3>
                        <h3>– 17,3″ 144 Hz FHD – FREE (NO WINDOWS)</h3>
                        <p>$ 7.799.000</p>
                        <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                    </li>
                    <li class="card">
                        <img src="../image/portatiles/portatil4.png" alt="portatil3" width="300" height="300">
                        <h3>PORTATIL HUAWEI MATEBOOK X</h3>
                        <h3>PRO CORE i7 1165G7</h3>
                        <h3>-16GB-NVMe512-INTEL IRIS-14″</h3>
                        <h3>3K Touch-ULTRALIVIANO-W10</h3>
                        <p>$ 5.459.000</p>
                        <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                    </li>
                </ul>
            </div>
        </div>
        <aside>
            <div class="sidebar-inner">
                <div class="sidebar-content">
                    <section>
                        <h3>Categoria:</h3>
                        <div>
                            <ul>
                                <li>
                                    <a class="button" href="accesorios-externos.html">Accesorios externos</a>
                                </li>
                                <li>
                                    <a class="button" href="portatiles.html">Portatiles</a>
                                </li>
                                <li>
                                    <a class="button" href="computadores-escritorio.html">Computadores</a>
                                </li>
                                <li>
                                    <a class="button" href="arma-setup.html">Arma tu Setup</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </aside>
    </div>
</main>
<footer>
    <div class="pie">
        <span>
            <h3><u>Sigenos en:</u></h3>
        </span>
        <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
        <br>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
        <br>
        <a href="https://twitter.com/X" target="_blank"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
    </div>
    <div>
        <span>
            <h3><u>Estamos ubicados:</u></h3>
        </span>
        <p>
            <b>Direccion Bogota</b> calle 57 #80-10
        </p>
        <p>
            <b>Direccion Medellin</b> Calle 53 # 46-47 L-110
        </p>
        <p>
            <b>Direccion Cali</b> Calle 11s # 50-29
        </p>
    </div>
</footer>
</body>
</html>