<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Productos</title>
</head>
<body>
    <header>
        <div>
            <section>
                <div class="" name="logotipo" id="logo" >
                    <a href="../index.html" width="150" height="150">
                        <img src="../image/logo/MicrosoftTeams-image.png" width="150" height="150" alt="">
                    </a>
                </div>
                <div>
                    <nav class="navbar">
                        <ul>

                            <li>
                                <a href="index.html">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span class="aux-menu-label">Inicio</span>
                                </a>
                            </li>

                            <li><a href="/views/productos.html">Producto</a></li>
                            <li class="dropdown">
                                <a class="dropbtn">
                                    <span>Categoria</span>
                                </a>
                                <div class="dropdown-content">
                                    <div>
                                        <a href="/views/accesorios-externos.html">Accesorios
                                            externos</a>
                                        </div>
                                    <div>
                                        <a href="/views/portatiles.html">Portatiles</a>
                                    </div>
                                    <div>
                                        <a href="/views/computadores-escritorio.html">Computadores</a>
                                    </div>
                                    <div>
                                        <a href="/views/arma-setup.html">Arma
                                            tu Setup</a>
                                    </div>
                                </div>
                            </li>
                            <li><a href="/views/sobre-nosotros.html">Sobre
                                    nosotros</a></li>
                            <li><a href="/views/servicios.html">Servicios</a></li>
                            <li><a href="/views/contactonos.html">Contactenos</a></li>
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </header>
    <main>
        <div >
            <div align="center">
                <Section>
                    <h1>Productos</h1>
                </Section>
            </div>
        </div>
            <div id="primary" class="aux-prima">
                <div class="content">
                    <header>
                        <h1>Articulos</h1>
                    </header>
                    <!---
                    <form class="" method="get">
                        <select name="orderby" class="orderby">
                            <option value="date"></option>
                        </select>
                    </form>-->
 
                    <ul class="card-container">
                        <li class="card">
                            <img src="../image/accesorios/mouse1.png" alt="mouse1" width="300" height="300">
                            <h3>MOUSE GAMER REDRAGON GRIFFIN M607 RGB</h3>
                            <p>$ 110.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/mouse2.png" alt="mouse2" width="300" height="300">
                            <h3>MOUSE TRUST VERTO VERTICAL ERGONOMIC USB</h3>
                       
                            <p>$ 77.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/diadema1.png" alt="Diadema1" width="300" height="300">
                            <h3>DIADEMA LOGITECH G733 LILA LIGHTSPEED INALÁMBRICA RGB</h3 >
                     
                            <p>$ 609.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                           
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/diadema2.png" alt="Diadema2" width="300" height="300">
                            <h3>DIADEMA GAMER LOGITECH G332</h3>
                     
                            <p>$ 239.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/parlante1.png" alt="parlante1" width="300" height="300">
                            <h3>PARLANTES LOGITECH G560 RGB 120W BLUETOOTH RGB GAMING</h3>

                            <p>$ 889.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/parlante2.png" alt="parlante2" width="300" height="300">
                            <h3>PARLANTES LOGITECH S120 (2,1) 2.2W</h3>
                       
                            <p>$ 73.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/teclado1.png" alt="teclado1" width="300" height="300">
                            <h3>TECLADO GAMER TRUST GXT 865 RGB MECANICO</h3>
                       
                            <p>$ 249.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/teclado2.png" alt="teclado2" width="300" height="300">
                            <h3>TECLADO GAMER REDRAGON HARPE PRO RGB K503A-RGB</h3>
                       
                            <p>$ 105.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/regulador1.png" alt="regulador1" width="300" height="300">
                            <h3>REGULADOR CDP 600VA  300W 4 TOMAS 4 USB SUPRESOR</h3>
             
                            <p>$ 95.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/accesorios/ups1.png" alt="ups1" width="300" height="300">
                            <h3>UPS 2200 VA STARTEC  1100W  STU-2200</h3>
                 
                            <p>$ 589.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/escritorio/escritorio1.png" alt="escritorio1" width="300" height="300">
                            <h3>EQUIPO ICEBERG FLOW GS 4 RGB i3 </h3>
                            <h3>12100– MSI H610 – 8G RAM -</h3>
                            <h3>  NVMe 256 – FUENTE 450W – MONITOR 22″ IPS 75Hz</h3>
                            <h3> – COMBO MOU TEC MK120</h3>
       
                            <p>$ 1.999.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/escritorio/escritorio2.png" alt="escritorio2" width="300" height="300">
                            <h3>EQUIPO COMPLETO ICEBERG CRYSTAL   </h3>
                            <h3>4 FAN ARGB-RYZ 5 4600G-B450M-8GB-NVMe</h3>
                            <h3>256-550W-22″IPS FHD-TC</h3>
                            <h3>+ MOU LOGITECH MK120</h3>
                     
                            <p>$ 2.019.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/escritorio/escritorio3.png" alt="escritorio3" width="300" height="300">
                            <h3>TODO EN UNO ASUS</h3>
                            <h3>M5401WUAK RYZ 5 5500U-8GB-NVMe</h3>
                            <h3>512G-RADEON GRAPICS-LCD 23″8 FHD</h3>
                            <h3>– TEC / MOU WIFI BLANCO</h3>
                       
                            <p>$ 3.280.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/escritorio/escritorio4.png" alt="escritorio4" width="300" height="300">
                            <h3>TODO EN UNO HP</h3>
                            <h3>22-DD0546LA-RYZ 3 3250U-8 GB</h3>
                            <h3>DDR4-NVMe 512GB-RADEON GRAPICS-</h3>
                            <h3> PANTALLA 21,5″ FHD</h3>
               
                            <p>$ 1.826.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/portatiles/portatil1.png" alt="Portatil1" width="300" height="300">
                            <h3>PORTATIL ASUS ROG G513</h3>
                            <h3>HF070 RYZEN 7 4800H 16G</h3>
                            <h3>(2×8) 3200MHz NVMe 512G 4G RTX3050</h3>
                            <h3>15,6″ IPS 300Hz TC RGB W10</h3>
                       
                            <p>$ 6.099.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/portatiles/portatil2.png" alt="Portatil2" width="300" height="300">
                            <h3>PORTATIL ASUS TUF   </h3>
                            <h3>A506-HN008 RYZEN 7 5800H 16G(2×8)</h3>
                            <h3>3200MHz NVMe 512G 6 GRTX 3060</h3>
                            <h3>15,6″ IPS 144Hz TC RGB END</h3>
                         
                            <p>$ 6.459.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/portatiles/portatil3.png" alt="portatil3" width="300" height="300">
                            <h3>PORTATIL MSI KATANA GF76-12UE      </h3>
                            <h3>CORE i7 12700H – 16G(2×8)</h3>
                            <h3>– NVMe 512G – 6G RTX 3060</h3>
                            <h3>– 17,3″ 144 Hz FHD – FREE (NO WINDOWS)</h3>
                     
                            <p7.799.000</p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/portatiles/portatil4.png" alt="portatil3" width="300" height="300">
                            <h3>PORTATIL HUAWEI MATEBOOK X</h3>
                            <h3>PRO CORE i7 1165G7</h3>
                            <h3>-16GB-NVMe512-INTEL IRIS-14″</h3>
                            <h3>3K Touch-ULTRALIVIANO-W10</h3>
                       
                            <p>$ 5.459.000</b></p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/setup/boards1.png" alt="boards1" width="300" height="300">
                            <h3>BOARD ASUS PRIME B660M-A   </h3>
                            <h3>D4 Micro 2 GPU</h3>
                            <h3>A.V.R Type C</h3>
                            <h3>4 DDR4 XII</h3>
                   
                            <p>$ 500.000</b></p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/setup/boards2.png" alt="boards2" width="300" height="300">
                            <h3>BOARD ASUS TUF GAMING X670E-PLUS</h3>
                            <h3>WIFI Type C 2</h3>
                            <h3>GPU 4 DDR5</h3>
                            <h3>ATX RYZ</h3>
                 
                            <p>$ 700.000</b></p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/setup/boards3.png" alt="boards3" width="300" height="300">
                            <h3>BOARD MSI MPG Z590 GAMING </h3>
                            <h3>PLUS 3 CROSS A.V.R</h3>
                            <h3> 4 DDR4 X-XI</h3>
           
                            <p>$ 478.000</b></p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/setup/caja1.png" alt="caja1" width="300" height="300">
                            <h3>CAJA ATX XPG INVADER VIDRIO TEMPLADO ARGB</h3>
                       
                            <p>$ 349.000</b></p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                            <img src="../image/setup/caja2.png" alt="caja2" width="300" height="300">
                            <h3>CAJA ATX COOLER MASTERBOX TD500 MESH  VIDRIO TEMPLADO BLANCA + 3 FAN ARGB</h3>
                       
                            <p>$ 539.000</b></p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                        <li class="card">
                        <img src="../image/setup/fuente1.png" alt="fuente1" width="300" height="300">
                            <h3>FUENTE MODULAR 750W XPG CORE REACTOR 80P GOLD</h3>
                       
                            <p>$ 529.000</b></p>
                            <a class="button" href="#" class="sinopsis-button">Agregar al carrito</a>
                        </li>
                    </ul>
                </div>
            </div>
            <aside>
                <div class="sidebar-inner">
                    <div class="sidebar-content">
                        <section>
                            <h3>Categoria</h3>
                            <div>
                                <ul>
                                    <li>
                                        <a class="button" href="accesorios-externos.html">Accesorios externos</a>
                                    </li>
                                    <li>
                                        <a class="button" href="portatiles.html">Portatiles</a>
                                    </li>
                                    <li>
                                        <a class="button" href="computadores-escritorio.html">Computadores</a>
                                    </li>
                                    <li>
                                        <a class="button" href="arma-setup.html">Arma tu Setup</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </aside>
    </main>
    <footer>
        <div class="pie">
            <span>
                <h3><u>Sigenos en:</u></h3>
            </span>
                <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
                <br>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
                <br>
                <a href="https://twitter.com/X" target="_blank"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
        </div>
        <div>
            <span>
                <h3><u>Estamos ubicados:</u></h3>
            </span>
            <p>
                <b>Direccion Bogota</b> calle 57 #80-10
            </p>
            <p>
                <b>Direccion Medellin</b> Calle 53 # 46-47 L-110
            </p>
            <p>
                <b>Direccion Cali</b> Calle 11s # 50-29
            </p>
        </div>
    </footer>
</body>
</html>